<div id="customer-list">
    <div>Customer List</div>
    <button (click)="addCustomer()">Add</button>
    <button (click)="removeCustomer()">Remove</button>

    <div id="customers" *ngFor="let customer of customers">
        <ul>
            <li>
                <input [checked]="customer.selected" (change)="onChangeCustomer($event, customer)" type="checkbox">
                <span>- <a href="#" (click)="onCustomerClicked(customer)">{{ customer.name }}</a></span>
            </li>
        </ul>
        
    </div>
</div>
